header .btnCreate {
    padding: 20px 100px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #01b510;
    color: #fff;
    font-size: 20px;
}
header .btnCreate:hover {
    color: #000;
   background-color: transparent;
}